.title-header{
    text-align: center;
    background: #F50A52;
    padding:10px;
    margin: 6px 0px 0px 0px;
    }
    .title-header span{
    font-size: 1em;
    text-align:center;
    color:white;
    }
    
  
    
    #col-4{
        background: #dcdcdc;
        height: auto;
    }

    .col-sm-9{
    background: #F50A52;
    position:relative;
    height: 50px;
    margin-top: 30px;
    }
    
  
     .col-sm-9 .responsive_img{
    background:url('./asset/Path1.png');
    background-position: center;
    background-repeat: no-repeat;
    margin:20px;
    height:40px;
    }
    .col-sm-9 .nav {
    padding:0px;
    margin:-15px;
    }
    
    .col-sm-9 .nav-item .dropdown{
    margin:10px 4px;
    }

    .responsive_img > span {
    position:relative;
    top:20%;
    right:5%;
    padding:65px;
    }
    .nav {
    padding:14px;
    }
    .nav-item .form-control {
    width:160px;
    margin:20px;
    cursor:pointer;
    }
    
    .bg-light {
    background-color:#dcdcdc;
    }
    
    .btn-outline-secondary {
    background:white;
    border:none;
    }
    .btn {
    padding: 1.0rem 3.4rem;
    margin: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    * {
        box-sizing: border-box;
      }
      
      /* Create four equal columns that floats next to each other */
      .column {
        float: left;
        width: 25%;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

      .column{
        margin: 30px 41px 0 -10px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        height: 215px;
        background-color: #FFFFFF;
      }
      .column li {
        list-style-type: none;
      }

      .design{
          height: 20%;
        background:url('./asset/Path9.png');
        background-size: 100% 40px;
        background-repeat: no-repeat; 
      }
      span{
          padding:72px;
      }

      h6 {
        color: darkgrey;
        font-size: 15px;
        text-align: center;
        padding: 17px;
      }

      .ellipse {
        background: url(./asset/Ellipse1.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 11px;
      }

      .smallbox {
        background-color: white;
        float: left;
        width: 16%;
        padding: 11px;
        border: 1px solid darkgrey;
        margin: 2px 0px 0px 1px;
      }

      .circle {
        background: url(./asset/Ellipse2.png);
        padding: 11px;
        background-repeat: no-repeat;
        margin: 10px 0px 0px -10px;
      }

      /* .circle2 {
        background: url(./asset/Ellipse2.png);
    padding: 11px;
    background-repeat: no-repeat;
    margin: -22px 0px 34px 36px;
      }

      .circle3 {
        background: url(./asset/Ellipse2.png);
        padding: 11px;
        background-repeat: no-repeat;
        margin: -56px 0px 0px 68px;
      }
      .circle4 {
        background: url(./asset/Ellipse2.png);
        padding: 11px;
        background-repeat: no-repeat;
        margin: -22px 0px 0px 102px;
      }
      .circle5 {
        background: url(./asset/Ellipse2.png);
    padding: 11px;
    background-repeat: no-repeat;
    margin: -22px 0px 0px 135px;
      } */

      /* .circle6 {
        background: url(./asset/Ellipse2.png);
        padding: 11px;
        background-repeat: no-repeat;
        margin: -22px 0px 0px 167px;
      } */

      h5{
        color: darkgrey;
        font-size: 8px;
        margin: -5px;
        text-align: center;
      }
       .trendbox {
        border: 1px solid black;
        margin: 5px;
        height: 6px;
       background-color: #CCCCCC;
      }
      .trendbox > .bar{
        border:2px solid yellow;
        height: 8px;
        margin: auto;
        width: 50%;   
      }
      /* .trendbox2 {
        background-color: #CCCCCC;
        height: 9px;
        width: 31%;
        margin: 18px 0px -2px 67px;
      }
      .trendbox3 {
        background-color: #CCCCCC;
    height: 6px;
    width: 33%;
    margin: -6px 0px -2px 130px;
      }  */

      .col-sm-2 {
        margin: 0px 0px 0px 0px;
    }

    .box {
      margin: 0px 0px 0px 2px;
  }

    .row .col-sm-12 .greencircle {
        /* padding-right: 7px;
        padding-left: 10px; */
        margin: 1px;
    }

.greencircle .col-sm-1 {
  border-radius:50%; 
  height: 20px;
  padding-left: 7px;
  margin: 1px;
  background: green;
}
 

    .bluebox  {
      border: 5px solid #0DD6FF;
      height: auto;
      margin-top: 32px;
    }
    .trendbutton{
      background-color: #0021D9;
      color:white;
      border-radius:3px;
      text-align:center;
      font-size:7px;
      display:flex;
      margin: 0 auto;
      border:none;
    }
    h4 {
      color:#089608;
      font-size:8px;
    text-align:center;
    }

     .col-sm-3 {
    flex: 0 0 20%;
    max-width: 25%;}
    

    
